<!doctype html>
<html>

<head>
    <title>BMP280 Data Sensor</title>
    <link rel="stylesheet" href='../static/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            text-align: center;
        }

        #g1,
        #g2 {
            width: 200px;
            height: 160px;
            display: inline-block;
            margin: 1em;
        }
    </style>
</head>

<body>
    <h1>BMP280 Sensor Data </h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <hr>
    <h3> Last Sensors Reading: {{ templateData.time }} ==> <a href="/monitor" class="button">REFRESH</a></h3>
    <hr>
    <p> @2020 Developed by @viktorlf</p>

    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
        var g1, g2;
        document.addEventListener("DOMContentLoaded", function (event) {
            g1 = new JustGage({
                id: "g1",
                value: {{ templateData.temp }},
            valueFontColor: "yellow",
            min: -40,
            max: 85,
            title: "Temperature",
            label: "Celcius"
            });
        g2 = new JustGage({
            id: "g2",
            value: {{ templateData.pres }},
            valueFontColor: "yellow",
            min: 300,
            max: 1100,
            title: "Pressure",
            label: "hPa"
            });
        });
    </script>
</body>

</html>
